<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">

<head>
	<title>会員登録確認 | シェアードショップ</title>
	<meta charset="UTF-8" />
</head>

<body class="admin user_regist_check_admin">
	<h3>部署登録確認画面</h3>
		<div class="form">
			<div class="label">部署名：</div>
			<div class="input" th:text="${checkDepartment.deptName}"></div>
		</div>
		
		<form th:action="@{complete}" method="post" th:object="${DepartmentForm}">
			<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="hidden" th:field="*{deptName}" />
					<input type="submit" value="登録" />
				</div>
			</div>
		</form>
		<form th:action="@{input}" method="post" th:object="${DepartmentForm}">
			<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="hidden" th:field="*{deptName}" />
					<input type="submit" value="戻る" />
				</div>
			</div>
		</form>
	</div>
</body>

</html>